api:
  dashboard: true

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

certificatesResolvers:
  le:
    acme:
      email: "admin@studyninja.ru"
      storage: "/letsencrypt/acme.json"
      httpChallenge:
        entryPoint: web
